@import url('https://fonts.googleapis.com/css?family=Audiowide');

* { 
  font-family: 'Audiowide', serif;  
  box-sizing: border-box,
};
html {
  background: #222;
}
body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}